# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# tests & others
ClockTest.js
Questions.txt
Landing.txt
Interface.txt

#stories prep texts
Story1.txt
Story2.txt
Story3.txt
Story4.txt